<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248441550075-t2nghct8kfbco86lkpa46bk40md53vj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248441550075-t2nghct8kfbco86lkpa46bk40md53vj0</string>
	<key>API_KEY</key>
	<string>AIzaSyDNPDmM3-0yZlwF6Thb0k9jG1Kaha3shik</string>
	<key>GCM_SENDER_ID</key>
	<string>248441550075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bendele.Musicode</string>
	<key>PROJECT_ID</key>
	<string>musicode-226a2</string>
	<key>STORAGE_BUCKET</key>
	<string>musicode-226a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248441550075:ios:6797336070619817b3ac5e</string>
	<key>DATABASE_URL</key>
	<string>https://musicode-226a2.firebaseio.com</string>
</dict>
</plist>